body {
  background-color: #0E131F;
  align-content: center;
}

form{
  display: grid;
  grid-template-columns: 75%;
}
.container{
align-items: center;
}
.campos{
  width: 25%;
  height: 25px;
margin-bottom: 10px;
}
.botao{
  width: 25.5%;
  height: 35px;
margin-bottom: 30px;
}
.title{
  margin-left: 100px;
  color: aliceblue;
}