@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lilita+One&display=swap');
body {
  background-color: #0E131F;
font-family:"Agbalumo" ;
}

#formu{
  padding-left: 5px;
  padding-top: 5px;
}
#container{
  border: 1px solid white;
  border-radius: 10px;
  width: 370px;
  height: 180px;
}
.campos{
  width: 350px;
  height: 25px;
margin-bottom: 10px;
}
.botao{
  margin-left: 30px;
  width: 300px;
  height: 35px;
margin-bottom: 30px;
color: black;
background-color: lightgray;

}
.title{
  margin-left: 50px;
  color: aliceblue;
  font-size: 45px;
}
label{
  color:white;
}
#center{
  margin-left: 42%;
  margin-right: 42%;
  margin-top: 250px;
}
#containercadastro{
  border: 1px solid white;
  border-radius: 10px;
  width: 370px;
  height: 240px;
}
.titlecadas{
  margin-left: 80px;
  color: aliceblue;
  font-size: 45px;
}
.title1lista{
  margin-left: 40%;
  color: aliceblue;
  font-size: 40px;
}

.titlelista{
  margin-left: 40%;
  color: aliceblue;
  border: 1px solid white;
margin-bottom: 15px;
width: 405px;
border-radius: 10px;
}
#deslogar{
  margin-left: 45%;
  margin-top: 100px;
}
input{
  color: #0E131F;
  background-color: lightgray;
  width: 200px;
  height: 35px;
  border-radius: 10px;
}