<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cadastrar</title>
</head>
<body>
  <section id="center">
    <h1 class="titlecadas">Cadastrar</h1>
    <div id="containercadastro">
      <form action="/usuarios/cadastrar" method="post" id="formu">

      <label>Usuario:</label>  <input type="text" name="usuario" class="campos" value="">
      <label>Senha:</label> <input type="password" name="senha" class="campos" value="">
      <label>Confirmar Senha:</label> <input type="password" name="confisenha" class="campos" value="">

        <button type="submit" value="logar" class="botao">Enviar</button>
        
      </form>
    </div> 
    </section>
</body>

</html>