<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticação</title>
</head>

<body>
  <div id="areaAutenticar">
    <h1 class="title">Autenticação</h1>
    <div id="container">

      <form action="" method="">
        <input type="text" name="" class="campo1" value="">
        <input type="password" name="" class="campo2" value="">

        <button type="submit" value="enviar">Enviar</button>

      </form>
    </div>
  </div>
</body>

</html>